body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('B1.png');
    color: #1E3050;
    transition: 1s
}

.title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
h1 {
        text-align: center;
        text-shadow: 1px 1px 0px #1E3050, -1px 1px 0px #1E3050, 1px -1px 0px #1E3050, -1px -1px 0px #1E3050;
}


.header {
    padding-top: 15%;
    color: #F2F3F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5%;
    padding-top: 2%;
}

.search-container {
    padding: 50px;
    text-align: center;
}

.search-container input {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    background-color: #1E3050;
    color: #F2F3F5;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 1s
}

.search-container button {
    padding: 10px;
    background-color: #1E3050;
    width: 40px;
    color: #F2F3F5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s
}

.theme-toggle {
    position: absolute;
    top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s
}

i.fa-solid{
    color:#1E3050;
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1E3050;
    text-align: center;
    padding: 10px;
    transition: 1s;
  }

  .fas {
    color: #F2F3F5;
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa-brands{
    color: #F2F3F5;
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
  }
  /* Add a hover effect if you want */
  .fa-brands:hover {
    opacity: 0.7;
    color: azure;
    text-decoration: none;
  }

  .fa-solid{
    color: #F2F3F5;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa-solid:hover {
    opacity: 0.7;
    color: azure;
    text-decoration: none;
  }

p{
    color: #F2F3F5;
}